/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

/* Variables */
:root {
  /* Definition of general colors */
  --white:            #fff;
  --soft-gray:        #ebebeb;
  --gray:             #455963;

  /* Definition of project colors and backgrounds */
  --primary-color:    #3a7bd5;
  --secondary-color:  #3a6073;
  --bg-gradient:      linear-gradient(to right, var(--secondary-color), var(--primary-color));
  
  /* Definition of fonts */
  --text-color:       #455963;
  --font-family:      "Nunito", sans-serif;
  --font-size:        1rem;
  --font-weight:      400;
  --line-height:      1.4;

  /* Definition of borders and spacing */
  --border-color:     var(--soft-gray);

  /* Other definitions */
  --transition-base:  all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --box-shadow-base:  0 14px 28px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background: var(--bg-gradient);
  background-attachment: fixed;
}

a {
  text-decoration: none;
  transition: var(--transition-base);
}

.todo {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--white);
  transition: var(--transition-base);

}

.items {
  overflow-y: auto;
}

.todo:hover {
  box-shadow: var(--box-shadow-base);
}

.header {
  padding: 1.5rem 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  background: var(--border-color);
}

.add {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px var(--border-color) solid;
}

.add > * {
  border: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background: transparent;
  padding: 1rem;
}

.add input[type="text"] {
  width: 100%;
  color: var(--text-color);
  font-size: 1.125rem;
}

.add-btn {
  font-weight: 700;
  cursor: pointer;
  color: var(--secondary-color);
}

.add-btn:hover {
  color: var(--primary-color);
}

.items {
  padding: 1rem;
}

.items:empty {
  display: none;
}

.message {
  padding: 1rem;
  display: none;
}

.items:empty + .message {
  display: block;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
}
.item input[type="checkbox"] {
  margin-right: 0.5rem;
}
.item input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.item + .item {
  margin-top: 1rem;
}

.delete-btn {
  cursor: pointer;
  margin-left: auto;
}

.delete-btn:hover {
  color: var(--primary-color);
}

.footer {
  border-top: 1px var(--border-color) solid;
  padding: 1rem;
  font-size: 0.8125rem;
  margin-top: auto;
}

@media (min-width: 340px) {    
  .todo {
    height: 75vh;
    width: 320px;
    border-radius: 8px; 
    overflow: hidden;
  }
}
