* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f0f3f4;
    color: #3A3A3A;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

/* Home page */

.home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #fff 0%, #c3cfe2 100%);
}

/* Navigation menu */

.menu ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    top: 0;
    position: relative;
    display: inline-block;
    background-color: #EDEDED;
    color: #fff;
    text-decoration: none;
    background: #3A3A3A;
    padding: 8px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all .1s ease-in;
}

.menu ul li a:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    top: -2px;
}

/* Cards */

.card-group {
    display: flex;
    flex-wrap: wrap;
}

/* This is necessary to fix a flexbox bug on IE. */

.card-wrap {
    display: flex;
    flex-direction: row;
    width: calc(100% * (1/2) - 10px);
    margin: 5px;
}

@media (min-width: 768px) {
    .card-wrap {
        width: calc(100% * (1/4) - 10px);
    }
}

.card {
    width: 100%;
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card:hover .card-img {
    opacity: 0.9;
}

.card:hover .card-footer {
    opacity: 0.95;
}

.card .card-img {
    width: 100%;
    flex-shrink: 0;
    transition: all .1s ease-in-out;
}

.card .card-title {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.card .card-block {
    padding: 10px;
    flex: 1 0 auto;
}

.card .card-block .card-sub {
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}

.card .card-block .card-prof,
.card .card-block .card-eq {
    font-size: 11px;
    margin-top: 10px;
}

.card .card-prof {
    margin-top: 10px;
}

.card .card-footer {
    background-color: rgba(67, 74, 79, 1);
    text-align: center;
}

.card .card-footer a {
    display: block;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(67, 74, 79, 1);
    padding: 10px;
}

.card .card-footer a:active {
    opacity: 0.95;
}

/* List */

.card-wrap-large {
    width: 100%;
}

.card-large {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100%;
    top: 0;
    border-radius: 4px;
    color: #444;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all .1s ease-in;
}

.card-large .card-img {
    width: 100%;
    flex-shrink: 0;
    transition: all .1s ease-in-out;
}



/*Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .card-wrap-large {
        width: calc(100% * (1/2) - 10px);
    }
    .card-large {
        flex-direction: row;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
