// Variables
$duration: .25s;
$card-padding: 24px !default;

// Colors
$color-silver: #444;
$color-silver-light: #787878;
$color-silver-lighter: #bbbbbb;
$color-white: #fff;

.card-group {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 5px;
    position: relative;
    background-color: $color-white;
    color: $color-silver;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all .1s ease-in-out;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    &:hover,
    &:focus {
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    }
    &-image {
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
    &-content {
        position: relative;
        padding: 15px;
        &-title {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            -webkit-margin-start: 0;
            -webkit-margin-end: 0;
        }
        &-category {
            font-size: 11px;
            color: $color-silver-light;
            margin: 0;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            -webkit-margin-start: 0;
            -webkit-margin-end: 0;
            ;
        }
        &-dots {
            display: none;
            position: absolute;
            top: 10px;
            right: 0px;
            padding: 0 10px;
            width: auto;
            text-align: center;
            transition: all $duration;
            cursor: pointer;
            span {
                width: 4px;
                height: 4px;
                background-color: lighten($color-silver, 40%);
                color: lighten($color-silver, 40%);
                position: relative;
                display: inline-block;
                border-radius: 50%;
                transition: all $duration;
                &::after,
                &::before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    background-color: currentColor;
                    position: absolute;
                    border-radius: 50%;
                }
                &::before {
                    top: -8px;
                }
                &::after {
                    bottom: -8px;
                }
            }
        }
    }
    &-action {
        background: $color-silver;
        transition: all .1s ease-in-out;
        &:hover {
            background: darken( $color-silver, 5%)
        }
        a {
            display: block;
            text-decoration: none;
            padding: 15px;
            &:hover {
                span::after {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            span {
                display: block;
                position: relative;
                margin: 0 auto;
                color: $color-white;
                font-weight: 600;
                font-size: 11px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 0.1em;
                width: 150px;
                &::after {
                    content: '\2192';
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    transform: translateX(-5px);
                    transition: all $duration;
                }
            }
        }
    }
    @media (min-width: 576px) {
        width: calc(100% * (1/2) - 10px);
    }
    @media (min-width: 992px) {
        width: calc(100% * (1/4) - 10px);
    }
    &-reveal {
        position: absolute;
        background-color: $color-silver;
        color: $color-white;
        width: 100%;
        overflow-y: auto;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 3;
        transform: translateY(100%);
        transition: transform 0.2s ease;
        &-close {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;
            cursor: pointer;
            width: 16px;
            height: 16px;
            transition: all .1s linear;
            &::after {
                content: '';
                height: 16px;
                border-left: 2px solid #fff;
                position: absolute;
                transform: rotate(45deg);
                left: 6px;
            }
            &::before {
                content: '';
                height: 16px;
                border-left: 2px solid #fff;
                position: absolute;
                transform: rotate(-45deg);
                left: 6px;
            }
            &:hover {
                transform: rotate(90deg);
            }
        }
        &-background {
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            filter: blur(8px);
            opacity: .15;
            z-index: -1;
        }
        &-content {
            width: 100%;
            height: calc(100% - 46px);
            overflow: auto;
            font-size: 11px;
            padding: 15px;
            &-title {
                font-size: 16px;
                font-weight: 600;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                -webkit-margin-start: 0;
                -webkit-margin-end: 0;
                margin: 0 0 15px 0;
                &::after {
                    content: '';
                    display: block;
                    width: 40px;
                    height: 2px;
                    background: $color-white;
                    margin-top: 5px;
                }
            }
            &-category {
                font-size: 11px;
                color: $color-silver-lighter;
                margin: 0;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                -webkit-margin-start: 0;
                -webkit-margin-end: 0;
            }
            &-sub {
                margin-bottom: 10px;
                & i {
                    font-size: 14px;
                }
                & b {
                    font-size: 12px;
                    font-weight: 600;
                }
                & p {
                    margin: 2px;
                }
                &-percent {
                    p {
                        display: block;
                        width: 100%;
                        span {
                            float: right;
                            font-weight: 600;
                            font-size: 14px;
                            margin-top: -2px;
                        }
                    }
                }
                &-progressbar {
                    background-color: $color-white;
                    margin-bottom: 20px;
                    >div {
                        background-color: #03a9f4;
                        width: 60%;
                        height: 10px;
                    }
                }
            }
        }
    }
}